       
        * {
            font-family: Roboto,arial,sans-serif;
            margin: 0;
            box-sizing: border-box;
            font-size: 1em;
        }
        a {
            margin: 3px;
            text-decoration: none;
            color: black;
        }
        a:hover {
            text-decoration: underline;
        }
        
        nav {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 100%;
        }
        .header-nav {
            padding-left: 0;
            margin-right: 10px;
        }
        #profile-pic {
            border-radius: 50%;
            max-width: 30px;
        }
        ul > a, ul > img {
            padding: 0 5px;
        }
        .header-img:hover {
            box-shadow: 0 0 10px 0 gray;
            border-radius: 50%;
        }
        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 5vh;
        }
        .logo {
            padding: 50px;
        }
        .input-receiver {
            display: flex;
            justify-content: space-between;
            width: 500px;
            height: 45px;
            border: 1px solid lightgray;
            border-radius: 25px;
        }
        .input-receiver > img {
            align-self: center;
            width: auto;
            height: auto;
            padding: 11px 15px;
        }
        .input-receiver > input {
            flex-grow: 1;
            border: none;
            outline: none;
        }
        .input-receiver:hover {
            box-shadow: 0 0 1px 0 gray;
        }
        img:hover {
            cursor: pointer;
        }
        .button {
            padding-top: 45px;
        }
        button {
            background-color: rgb(247, 247, 247);
            border-radius: 3px;
            border: none;
            height: 30px;
            padding: 5px 10px;
            margin: 5px 10px;
        }
        button:hover {
            box-shadow: 0 0 2px 0 gray;
        }
        footer {
            background-color: rgb(235, 235, 235);
            position: fixed;
            bottom: 0;
            width: 100vw;
            padding: 10px;
        }